<div class="container dashboard">
  <div class="row">
    <div class="wide">
      <div class="two-third right">
        <div class="host-tts">
          <%= render partial: 'host_tea_time_info', locals: {tea_times: @hosting} if current_user.host? %>
        </div>
        <div class="attendee-tts">
          <%= render partial: 'user_attendance_info', locals: {attendances: @attending} %>
        </div>
        <div class="waitlist-tts">
          <%= render partial: 'user_waitlist_info', locals: {attendances: @waitlist} %>
        </div>
      </div>
    </div>
  </div>
</div